{% load static %}

<div class="col mb-4">
    <div class="card shadow">

        <a href="{{ product.name }}">
            <img class="card-img-top p-3 list_img" src="{{ product.cerealimage_set.first.image }}"
                 alt="{{ product.name }}">

        </a>

<!--        <img src="{% static 'images/'|add:product.name|add:'.jpeg' %}" class="card-img-top p-3" alt="{{ product.name }}">-->
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{ product.name }}</h4>
            <!--Text-->
            <p class="card-text">{{ product.description }}</p>
            <!--Price-->
            <h5 class="card-title">{{ product.price }} ISK</h5>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<!--            <button type="button" class="btn btn-light-blue btn-md">Read more</button>-->
            <a href="{{ product.name }}" class="btn btn-primary">Info</a>
            <a class="btn btn-primary btn-inline" onclick="console.log({{ product.id }})">+Cart</a>
            <a href="#" class="btn-floating btn btn-danger"><i class="fas fa-heart"></i></a>
        </div>
    </div>
</div>