{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Review information</h1>
    <p class = "readonly">Please review your purchase and delivery address</p>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <address>
                    <strong>{{ contact.first_name }} {{ contact.last_name }}</strong><br>
                    {{ contact.address}} {{ contact.apartment_number }}<br>
                    {{ contact.zip }}, {{ contact.city }}, {{ country }}<br>
                    <abbr title="email">{{ contact.email }}</abbr>
                </address>

                <address>
                    <strong>Other information</strong><br>
                    <p>{{ contact.additional_information }}</p>
                </address>
            </div>
        </div>
    </div>


    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-right">Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in item %}
                            <tr>
                                <td><img src={{ item.product.image}}/> </td>
                                <td>{{ item.product.name }}</td>
                                <td>In stock</td>
                                <td class="text-center"> {{ item.count }}</td>
                                <td class="text-center">{{ item.product.price }} ISK</td>
                                <td class="text-right">{{ item.get_total }} ISK</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ order.get_cart_total }} ISK</strong></td>
                            </tr>
                        </tbody>
                    </table>

    <div class="flex-spacer container ">
        <div class="focus" style="background: lightblue">
            <p class="readonly flex-spacer">If you select confirm purchase total amount of</p>
            <p class="readonly flex-spacer">{{ item.get_total }} will be charged to your credit card</p>
            <p class="ansi-bold flex-spacer">Name on card: {{ payment.nameOnCC }} expiry: {{ payment.expDate }} </p>
        </div>
    </div>

    <form action="{% url 'checkout-confirmation' %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-info btn-block my-4" type='submit' value="Confirm purchase"></input>
    </form>

    <div>
        <a href="{% url 'checkout-creditcard' %}" class="btn btn-outline-success btn-block my-4">Go back</a>
    </div>

{% endblock %}