{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <h2>Check-out contact info</h2>
    <form action="{% url 'checkout-creditcard' %}" method = "POST">

        {% csrf_token %}
        <div class="wrapper">
            {{ form|crispy }}

        <input class="btn btn-primary" type='submit'>Next step</input>
        </div>

    </form>


<script type="text/javascript">

    let total = "{{ order.get_cart_total|floatformat:0 }}"
    console.log(total)

    let form = document.getElementById('form')

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted')
        document.getElementById('form-button').classList.add('hidden')
        console.log(form)
    })



</script>

{% endblock %}