{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Confirmation</h1>
    <h3 class = "readonly"> Your purchase was successfull! </h3>
    <h4 class = "readonly"> See details of your order below </h4>


    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-right">Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in item %}
                            <tr>
                                <td><img src={{ item.product.image}}/> </td>
                                <td>{{ item.product.name }}</td>
                                <td>In stock</td>
                                <td class="text-center"> {{ item.count }}</td>
                                <td class="text-center">{{ item.product.price }} ISK</td>
                                <td class="text-right">{{ item.get_total }} ISK</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ order.get_cart_total }} ISK</strong></td>
                            </tr>
                        </tbody>
                    </table>

    <div class="flex-spacer container ">
        <div class="focus" style="background: lightblue">
            <div class="readonly flex-spacer">{{ item.get_total }} was charged to your credit card:</div>
            <div class="ansi-bold flex-spacer">Name on card: {{ payment.nameOnCC }} expiry: {{ payment.expDate }} </div>
        </div>
    </div>

    <form action="/">
        <input type="submit" value="Back to front page" class="btn btn-outline-success btn-block my-4"/>
    </form>
{% endblock %}