{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex flex-row justify-content-between mt-3 mb-1">
        <div class="pl-2">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" id="search-box" placeholder="Search" aria-label="Search" name="searchStr">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
            </form>

        </div>

        <div class="d-inline-flex align-middle">
            <div class="align-content-middle pr-2">
                <p>Order by:</p>
            </div>

            <div class="btn-group-inline btn-group-toggle btn-group-sm" id="orderBy-btn-group" data-toggle="buttons">
                <label class="btn btn-primary form-check-label active">
                    <input class="form-check-input" type="radio" name="order-by" id="orderBy-btn" autocomplete="off" checked value="name">
                    Name
                </label>
                <label class="btn btn-primary form-check-label">
                    <input class="form-check-input" type="radio" name="order-by" id="orderBy-btn" autocomplete="off" value="price"> Price (lowest first)
                </label>
                <label class="btn btn-primary form-check-label">
                    <input class="form-check-input" type="radio" name="order-by" id="orderBy-btn" autocomplete="off" value="-price"> Price (highest first)
                </label>
            </div>

        </div>

    </div>


    <div class="d-inline-flex justify-content-between w-100 p-2">
        {#    #}
        <div class="row row-cols-1 row-cols-md-3 w-75 products">

            {% for product in products %}
                {% include "products/list_display.html" with product=product %}
            {% endfor %}

        </div>

        <div class="w-20">

            <h1>Filter Area</h1>

            <h2>Brand</h2>

            <div class="d-flex flex-column btn-group btn-group-toggle" id="brand-btn-group" data-toggle="radio">
                <div class="form-check">
                    <label class="radio form-check-label active">
                        <input class="form-check-input" type="radio" name="brand-filter" id="brand-filter-all" autocomplete="off" checked value="">
                        All
                    </label>
                </div>
                {% for brand in brandNames %}
                    <div class="form-check">
                        <label class="radio form-check-label">
                            <input class="form-check-input" type="radio" name="brand-filter" id="brand-filter-btn" autocomplete="off" value="{{ brand.brand }}">
                            {{ brand.brand }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            <h2>Category</h2>
            <div class="d-flex flex-column btn-group btn-group-toggle" id="category-btn-group" data-toggle="">
                <div class="form-check">
                    <label class="form-check-label active">
                        <input class="form-check-input" type="radio" name="cat-btn" id="cat-btn" autocomplete="off" checked value="">
                        All
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="cat-btn" id="cat-btn" autocomplete="off" value="Cereal">
                        Cereal
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="cat-btn" id="cat-btn" autocomplete="off" value="Merch"> Merch
                    </label>
                </div>
            </div>
{#            <div class="btn-group-vertical btn-group-toggle" id="category-btn-group" data-toggle="">#}
{##}
{#                    <label class="radio form-check-label active">#}
{#                        <input class="form-check-input" type="radio" name="cat-btn" id="cat-btn" autocomplete="off" checked value="Cereal">#}
{#                        Cereal#}
{#                    </label>#}
{##}
{#                    <label class="radio form-check-label">#}
{#                        <input class="form-check-input" type="radio" name="cat-btn" id="cat-btn" autocomplete="off" value="Merch"> Merch#}
{#                    </label>#}
{##}
{#            </div>#}
{#            <form>#}
{#                <input type="radio" name="cat-btn" id="category-all" checked value="">All<br>#}
{#                <input type="radio" name="cat-btn" id="category-filter"  value="Cereal">Cereal<br>#}
{#                <input type="radio" name="cat-btn" id="category-filter" value="Merch">Merch#}
{#            </form>#}
        </div>

    </div>

{% endblock %}