{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex flex-row justify-content-between mt-3 mb-1">
        <div class="pl-2">
            <form class="form-inline" action="{% url 'frontpage-index' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchStr">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <div class="m-2 align-middle">
            <p>Order by:
                <a href="?orderBy=name">Name</a>,
                <a href="?orderBy=price">Price (lowest first)</a>,
                <a href="?orderBy=-price">Price (highest first)</a>
            </p>
        </div>

</div>

{#<div class="d-inline-flex justify-content-between py-3">#}
{#    <div class="row row-cols-1 row-cols-md-3 w-75">#}
{##}
{#        {% for product in cereals %}#}
{#        {% include "products/list_display.html" %}#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="w-20">#}
{##}
{#        <h1>Filter Area</h1>#}
{#        <h2>Price</h2>#}
{#        <h2>Something</h2>#}
{#        <h2>Something else</h2>#}
{#    </div>#}
{#</div>#}

<div class="d-inline-flex justify-content-between py-3">
    {% if products %}
        <div class="row row-cols-1 row-cols-md-3 w-75">
            {% for product in products %}
                {% include "products/list_display.html" %}
            {% endfor %}
        </div>
        <div class="w-20">

            <h1>Filter Area</h1>
            <h2>Price</h2>
            <h2>Brand</h2>
            {% regroup products|dictsort:"manufacturer" by manufacturer as brands %}


            <div class="mb-5">

                <h5 class="font-weight-bold mb-3">Category</h5>

                <div class="divider-small mb-3"></div>
                {% for brand in brands %}
                    <div class="form-check pl-0 mb-2" >
                      <input type="radio" class="form-check-input" id="materialGroupExample1" href=" " name="filterBy" ">
                      <label class="form-check-label" for="materialGroupExample1">{{ brand.grouper }}</label>
                    </div>
                {% endfor %}

            </div>
            <h2>Category</h2>
        </div>
    {% else %}
        <h3>Your search matched no products</h3>
    {% endif %}
</div>

{% endblock %}

