{% load static %}


<div class="col mb-4">
    <div class="card shadow">

        <a href="{% url 'cereal-item' %}">
            <img class="card-img-top p-3" src="{% static 'images/'|add:cereal.name|add:'.jpeg' %}"
                 alt="{{ cereal.name }}">

        </a>

<!--        <img src="{% static 'images/'|add:cereal.name|add:'.jpeg' %}" class="card-img-top p-3" alt="{{ cereal.name }}">-->
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{ cereal.name }}</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <!--Price-->
            <h5 class="card-title">{{ cereal.price }} ISK</h5>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<!--            <button type="button" class="btn btn-light-blue btn-md">Read more</button>-->
            <a href="{% url 'cereal-item' %}" class="btn btn-primary">More info</a>
            <a href="#" class="btn btn-primary btn-inline">+Cart</a>

        </div>

    </div>
</div>