{% load static %}

<div class="d-inline-flex">
<!--        <div class = ".cerealBox">-->
<!--            <img src="{% static 'images/'|add:cereal.name|add:'.jpg' %}" class="img-thumbnail w-25 p-3" alt="{{ cereal.name }}">-->
<!--            <h4>{{ cereal.name }}</h4>-->
<!--            <p>{{ cereal.price }} ISK</p>-->

<!--        </div>-->
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/'|add:cereal.name|add:'.jpeg' %}" class="card-img-top" alt="{{ cereal.name }}">
        <div class="card-body">
            <h4 class="card-title">{{ cereal.name }}</h4>
            <p class="card-text">Cereal description and information.</p>
            <h5 class="card-title">{{ cereal.price }} ISK</h5>
            <a href="#" class="btn btn-primary stretched-link">Check it out mane</a>
        </div>
    </div>
</div>