<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="d-flex">
        <a class="navbar-brand" href="/">Ship O' Cereal</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products-index' %}">Store</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aboutus-index' %}">About us</a>
                </li>
            </ul>
        </div>
    </div>
{#    <div class="d-flex">#}
{#        <form class="form-inline my-2 my-lg-0" action="{% url 'frontpage-index' %}">#}
{#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchStr">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
{#    </div>#}
    {% include "navbuttons_li.html" %}
<!--    <div class="d-flex btn-group" role="group" aria-label="Basic example">-->
<!--        <a href="{% url 'profile-index' %}" class="btn btn-outline-primary my-2 my-sm-0">Profile</a>-->
<!--        <a href="{% url 'cart-index' %}" class="btn btn-outline-primary my-2 my-sm-0">Cart</a>-->
<!--    </div>-->
</nav>