{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron bg-white transparent pb-5">
        <h2 class="display-4">Welcome to Ship O' Cereal</h2>
        <p class="lead">Your one stop shop for all things cereal!</p>
    </div>
    <div class="jumbotron bg-white transparent pb-5">
        <a href="{% url 'products-index' %}" class="text-decoration-none text-body">
            <h4 class="display-5">
                Check out our amazing product catalogue! <i class="fas fa-arrow-right"></i>
            </h4>
        </a>
    </div>

{% endblock %}