{% extends 'base.html' %}
{% load static %}
{% block content %}

<form class="border border-light p-5">

    <p class="h4 mb-4 text-center">Sign up</p>

    <input type="text" id="defaultRegisterFormFirstName" class="form-control mb-3" placeholder="First name">

    <input type="text" id="defaultRegisterFormLastName" class="form-control mb-3" placeholder="Last name">

    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-3" placeholder="E-mail">

    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-3">Minimal 8 characters lenght</small>

    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">

    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-3">Optional</small>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

    <div class="text-center">


        <hr>

        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a> and
            <a href="" target="_blank">terms of service</a>.
        </p>
    </div>
</form>

{% endblock %}