{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Sign up now!</h1>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        <tr><th><label for="id_username">Username:</label></th><td><input type="text" name="username" maxlength="150" autofocus class="form-control" required id="id_username"><span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></td></tr><br><br>
        <tr><th><label for="id_first_name">First name:</label></th><td><input type="text" name="first_name" class="form-control" maxlength="100" required id="id_first_name"></td></tr><br>
        <tr><th><label for="id_last_name">Last name:</label></th><td><input type="text" name="last_name" class="form-control" maxlength="100" required id="id_last_name"></td></tr><br>
        <tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" class="form-control" required id="id_email"></td></tr><br>
        <tr><th><label for="id_password1">Password:</label></th><td><input type="password" name="password1" autocomplete="new-password" class="form-control" required id="id_password1"><br><span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span></td></tr><br>
        <tr><th><label for="id_password2">Password confirmation:</label></th><td><input type="password" name="password2" autocomplete="new-password" class="form-control" required id="id_password2"><br><span class="helptext">Enter the same password as before, for verification.</span></td></tr><br>
        <br>
        <input type="submit" class="btn btn-info btn-block my-4" value="Sign up" />

    </form>

<!--<form class="border border-light p-5">

    <p class="h4 mb-4 text-center">Sign up</p>

    <input type="text" id="defaultRegisterFormFirstName" class="form-control mb-3" placeholder="First name">

    <input type="text" id="defaultRegisterFormLastName" class="form-control mb-3" placeholder="Last name">

    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-3" placeholder="E-mail">

    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-3">Minimal 8 characters lenght</small>

    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">

    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-3">Optional</small>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

    <div class="text-center">


        <hr>

        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a> and
            <a href="" target="_blank">terms of service</a>.
        </p>
    </div>
</form> -->

{% endblock %}