{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Sign up now!</h1>
    <form class="form form-horizontal" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Join today!</legend>
            {{ form|crispy }}
        </fieldset>
        <input type="submit" class="btn btn-info btn-block my-4" value="Sign up" />
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'login-index' %}">Sign In</a>
        </small>
    </div>
{% endblock %}