{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/cart.css" %}">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Your Shopping Cart! </h1>
         </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-right">Total</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in item %}
                            <tr>
                                <td><img src={{ item.product.image}}/> </td>
                                <td>{{ item.product.name }}</td>
                                <td>In stock</td>
                                <td> {{ item.count }}</td>
                                <td class="text-center">{{ item.product.price }} ISK</td>
                                <td class="text-right">{{ item.get_total }} ISK</td>
                                <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ order.get_cart_total }} ISK</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a href="{% url 'products-index' %}" class="btn btn-outline-primary my-2 my-sm-0">Continue Shopping Merchandise</a>
                        <a href="{% url 'products-index' %}" class="btn btn-outline-primary my-2 my-sm-0">Continue Shopping Cereal</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <a href="{% url 'checkout-contact' %}" class="btn btn-outline-success my-2 my-sm-0">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link>
{% endblock %}