
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="container">
        <img src="{{ user.Profile.profile_img }}" class="rounded-circle w-25 p-3">
    </div>
    <br>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        <tr><th><label for="id_profile_img">Please paste image url:</label></th><br><td><input type="text" name="profile_img" value="{{ user.Profile.profile_img }}" class="form-control" maxlength="9999" required id="id_profile_img"></td></tr><br>
        <input type="submit" class="btn btn-info btn-block my-4" value="Save changes" />
        <a href="{% url "profile-index" %}" class="btn btn-block btn-outline-success my-4">Go back</a>

    </form>

{% endblock %}