
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper bg-white mt-sm-5">
        <p class="h4 mb-4 text-center">Edit Profile</p>
        <div class="d-flex align-items-center py-3"> <img src="{% static 'images/johnny.jpeg' %}" class="rounded-circle w-25 p-3" alt="Johnny">
            <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
                <p>Accepted file type .png. Less than 1MB</p> <button class="btn btn-info my-4"><b>Change profile picture</b></button>
            </div>
        </div>
            <input type="text" id="defaultRegisterFormFirstName" class="form-control mb-3" placeholder="First name">

            <input type="text" id="defaultRegisterFormLastName" class="form-control mb-3" placeholder="Last name">

            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-3" placeholder="E-mail">

            <input type="text" id="defaultRegisterPhonePassword" class="form-control mb-3" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">

            <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-3">Optional</small>

            <button class="btn btn-info my-4 btn-block" type="submit">Confirm</button>

        </form>
    </div>
{% endblock %}