
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1> Welcome to your profile {{ user.first_name }} {{ user.last_name }}!</h1>
    <div class="container">
        <img src="{{ user.Profile.profile_img }}" class="rounded-circle w-25 p-3">
        <div class="d-inline-block">
            <a href="{% url "user-edit" %}" class="btn btn-info my-2 my-sm-0">Edit profile</a>
            <a href="{% url "change-pw" %}" class="btn btn-info my-2 my-sm-0">Change password</a>
            <a href="{% url "user-pic" %}" class="btn btn-info my-2 my-sm-0">Change profile picture</a>
        </div>

    </div>
{% endblock %}